<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPXkCnBOPyAbRAxwdlCyiK6YfrWjkcXgc</string>
	<key>GCM_SENDER_ID</key>
	<string>744906527407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sednex.sednexapp</string>
	<key>PROJECT_ID</key>
	<string>sednex-3bb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>sednex-3bb6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744906527407:ios:94dc1aced260d397b7fa5a</string>
</dict>
</plist>